{% comment %} <canvas id="myChart" width="800" height="400"></canvas>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const ctx = document.getElementById('myChart').getContext('2d');
  const myChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels : [{% for item in date_col %}{{ item }},{% endfor %}],
          datasets: [{
            label: "testing",
            data : [{% for item in close_col %}{{ item }},{% endfor %}],
            backgroundColor: 'rgba(75, 192, 192, 0.2)',
            borderColor: 'rgba(75, 192, 192, 1)',
            borderWidth: 1
          }]
      },
      options: {
          scales: {
              y: {
                  beginAtZero: true
              }
          }
      }
  });
</script>
{% endcomment %}
<html>
  <body>
    <a href="{%url 'tableview'%}"> back to home </a>
    {%block content%} {{chart|safe}} {{chart2|safe}} {{chart3|safe}} {%endblock content%}
  </body>
</html>
